
## These passwords don't matter because you're never, ever going to
## expose this docker config to the outside world, right?

export MONGO_INITDB_ROOT_USERNAME=myapp
export MONGO_INITDB_ROOT_PASSWORD=PASSWORD123
export ME_CONFIG_MONGODB_ADMINUSERNAME=admin
export ME_CONFIG_MONGODB_ADMINPASSWORD=SUPERSECURE
export SSL_PEM_PASSWORD=NOTSECURE
